<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colo">

    <application
        android:name=".GlobalCompanyName"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoLo">


        <activity
            android:name=".EmployeeActivityLog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Projects.CreateProject"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Announcements.CreateAnnouncement"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ViewEmployees" />
        <activity android:name=".SettingsPage" />
        <activity android:name=".adminSettingsPage" />
        <activity android:name=".ViewManagers" />
        <activity android:name=".Projects.ManagerProjects" />
        <activity android:name=".Projects.EmployeeProjects" />
        <activity
            android:name=".Announcements.ManagerCreateAnnouncement"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ManagerClockLog" />
        <activity
            android:name=".AddCompany"
            android:exported="false" />
        <activity android:name=".employeePages.ClockIn" />
        <activity android:name=".employeePages.EmployeeHub" />
        <activity android:name=".ManagerHub" />
        <activity android:name=".AdminHub" />

        <activity android:name=".CreateEmployee" />
        <activity android:name=".CreateManager" />
        <activity
            android:name=".LogIn"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>